{% extends 'layout/frontend.html' %}
{% from 'share/macro.html' import facebook_comment, insite_comment %}

{% block subtitle %}
    {{ row.result_name }}
{% endblock %}

{% block navbar %}
    {{ navigation('bookmark') }}
{% endblock %}

{% block container %}
<div id="index">
    <h3>{{ row.result_name }}</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="{{ url_for('static', filename='client/img/loader.gif') }}" data-src="{{ row.result_image | embedly_fill(category, 500, 500, 'FFF', 'true') }}">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if bookmarked %}
                        <a href="{{ url_for('bookmark.remove_stream', result_id=row.result_id) }}" class="btn btn-danger">
                            <div class="hidden-xs">
                                <i class="glyphicon glyphicon-paperclip"></i> Bookmarked
                            </div>
                            <div class="visible-xs">
                                <i class="glyphicon glyphicon-paperclip"></i>
                            </div>
                        </a>
                    {% else %}
                        <a href="{{ url_for('bookmark.create_stream', result_id=row.result_id) }}" class="btn btn-info">
                            <div class="hidden-xs">
                                <i class="glyphicon glyphicon-paperclip"></i> Bookmark
                            </div>
                            <div class="visible-xs">
                                <i class="glyphicon glyphicon-paperclip"></i>
                            </div>
                        </a>
                    {% endif %}
                    <a href="{{ row.result_image | embedly_fill_archive_url(category) }}" class="btn btn-info" download="{{ row.result_name }}">
                        <div class="hidden-xs">
                            <i class="glyphicon glyphicon-download-alt"></i> Download
                        </div>
                        <div class="visible-xs">
                            <i class="glyphicon glyphicon-download-alt"></i>
                        </div>
                    </a>
                    <a href="{{ url_for('dropbox.create', category=category, result_id=row.result_id, page_name='bookmark') }}" class="btn btn-info">
                        <div class="hidden-xs">
                            <i class="glyphicon glyphicon-hdd"></i> Dropbox
                        </div>
                        <div class="visible-xs">
                            <i class="glyphicon glyphicon-hdd"></i>
                        </div>
                    </a>
                    <a href="{{ row.result_image | embedly_fill_archive_url(category) }}" class="btn btn-info pull-right fancybox tips" data-placement="bottom" title="Preview images">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                {% if category == 'stream' %}
                    {% for image in random %}
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <a class="thumbnail" rel="group" href="{{ url_for('stream.detail', result_id=image.result_id, name=image.result_name) }}">
                                <img src="{{ url_for('static', filename='client/img/loader.gif') }}" data-src="{{ image.result_image | embedly_fill('stream', 100, 120, 'FFF', 'true') }}" alt="{{ image.result_name }}" class="tips" data-placement="bottom" title="{{ image.result_name }}">
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if category == 'today' %}
                    {% for image in random %}
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <a class="thumbnail" rel="group" href="{{ url_for('today.detail', result_date=image.result_date, result_id=image.result_id, name=image.result_name) }}">
                                <img src="{{ url_for('static', filename='client/img/loader.gif') }}" data-src="{{ image.result_image | embedly_fill('today', 100, 120, 'FFF', 'true') }}" alt="{{ image.result_name }}" class="tips" data-placement="bottom" title="{{ image.result_name }}">
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% if old_new: %}
        <div class="row">
            <div class="col-xs-12">
                <ul class="pager">
                    {% for pager in old_new: %}
                        {% if pager.result_id > row.result_id %}
                            <li class="previous"><a href="{{ url_for('bookmark.detail', category=category, result_id=pager.result_id, name=pager.result_name) }}">Latest</a></li>
                        {% endif %}
                        {% if pager.result_id < row.result_id %}
                            <li class="next"><a href="{{ url_for('bookmark.detail', category=category, result_id=pager.result_id, name=pager.result_name) }}">Older</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    {% if category == 'stream' %}
                        {{ facebook_comment(url_for('stream.detail', _external=True, result_id=row.result_id, name=row.result_name)) }}
                    {% endif %}

                    {% if category == 'today' %}
                        {{ facebook_comment(url_for('today.detail', _external=True, result_date=row.result_date, result_id=row.result_id, name=row.result_name)) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            {% if category == 'stream' %}
                {{ insite_comment('stream', row.result_id, comment_paginator, comment_form, page_name='bookmark') }}
            {% endif %}

            {% if category == 'today' %}
                {{ insite_comment('today', row.result_id, comment_paginator, comment_form, page_name='bookmark') }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
