{% extends 'layout/frontend.html' %}
{% from "share/macro.html" import bookmark_categories, random_images %}

{% block subtitle %}
    Bookmark
{% endblock %}

{% block navbar %}
    {{ navigation('bookmark') }}
{% endblock %}

{% block container %}
<div id="index">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9">
            <div class="row">
                {% for stream in paginator.items %}
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <a class="thumbnail" rel="group" href="{{ url_for('bookmark.detail', category=category, result_id=stream.result_id, name=stream.result_name) }}">
                            <img src="{{ url_for('static', filename='client/img/loader.gif') }}" data-src="{{ stream.result_image | embedly_fill(category, 200, 200, 'FFF', 'true') }}" alt="{{ stream.result_name }}" class="tips" data-placement="bottom" title="{{ stream.result_name }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    Record: {{ total_bookmark }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    {{ bookmark_categories(category) }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">Randomly</div>
                <div class="panel-body">
                    <div class="row">
                        {{ random_images(category, randomly_images, no_border=True) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="pager">
                {% if paginator.has_prev %}
                    <li class="previous"><a href="{{ url_for('bookmark.index', page=paginator.prev_num) }}">Previous</a></li>
                {% endif %}

                {% if paginator.has_next %}
                    <li class="next"><a href="{{ url_for('bookmark.index', page=paginator.next_num) }}">Next</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
