{% extends 'layout/user/change.html' %}
{% from 'share/macro.html' import image_detail_link %}

{% block container_profile %}
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <fieldset>
                <legend>Connection</legend>
                <div class="form-group">
                    <label for="dropbox" class="col-sm-2 control-label">Dropbox</label>
                    <div class="col-sm-10">
                        <div class="form-control-static">
                            {% if 'dropbox' in connected_providers %}
                                <a href="{{ url_for('oauth.disconnect', provider='dropbox') }}" class="btn btn-danger btn-xs">Disconnect</a>
                            {% else %}
                                <a href="{{ url_for('oauth.connect', provider='dropbox', kind='link') }}" class="btn btn-info btn-xs">Connect</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Dropbox Log <small class="text-muted">( latest 10 record )</small></div>
    <div class="panel-body panel-body-log">
        {% for log in dropbox_logs %}
            <div class="row container">
                {% if log.status == 'success' %}
                    <span class="text-success">
                        <span class="glyphicon glyphicon-ok"></span>
                        The <a href="{{ url_for(log.category + '.index') }}">{{ log.category }}</a> image was synchronized
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        Image named: <small>{{ image_detail_link(log.category, log.image) }}</small>
                    </span>
                {% else %}
                    <span class="text-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                        The <a href="{{ url_for(log.category + '.index') }}">{{ log.category }}</a> image could not be synchronized
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        Image named: <small>{{ image_detail_link(log.category, log.image) }}</small>
                    </span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
