{% extends 'layout/user/change.html' %}

{% block container_profile %}
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <fieldset>
                <legend>Connection</legend>
                <div class="form-group">
                    <label for="dropbox" class="col-sm-2 control-label">Dropbox</label>
                    <div class="col-sm-10">
                        <div class="form-control-static">
                            {% if 'dropbox' in connected_providers %}
                                <a href="{{ url_for('oauth.disconnect', provider='dropbox') }}" class="btn btn-danger btn-xs">Disconnect</a>
                            {% else %}
                                <a href="{{ url_for('oauth.connect', provider='dropbox', kind='link') }}" class="btn btn-info btn-xs">Connect</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Dropbox Log</div>
    <div class="panel-body">
        <p>
            <label class="label label-danger">Status</label>
            <span class="text-danger">Dropbox sync message</span>
        </p>
        <p>
            <label class="label label-primary">Status</label>
            <span class="text-primary">Dropbox sync message</span>
        </p>
    </div>
</div>
{% endblock %}
