{% extends 'layout/frontend.html' %}
{% from 'share/macro.html' import random_images %}

{% block container %}
<div id="index">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9">
            {% if user.settings and user.settings.protect_profile == 1 %}
                <div class="alert alert-info">Sorry, The user profile was protected</div>
            {% else %}
                <div class="panel panel-default">
                    <div class="panel-heading">Profile</div>
                    <div class="panel-body">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="{{ user.avatar(100) }}">
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">{{ user }}</h3>
                                <p class="text-info">Collected images</p>
                                <div class="row text-muted">
                                    <div class="col-md-1">Stream</div>
                                    <div class="col-md-11">{{ totals['stream'] }} pic</div>
                                </div>
                                <div class="row text-muted">
                                    <div class="col-md-1">Today</div>
                                    <div class="col-md-11">{{ totals['today'] }} pic</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Stream</div>
                    <div class="panel-body">
                        {% for stream in images['stream'] %}
                            <div class="col-xs-6 col-sm-3 col-md-2">
                                <a class="thumbnail" rel="group" href="{{ url_for('stream.detail', result_id=stream.image.result_id, name=stream.image.result_name) }}">
                                    <img src="{{ url_for('static', filename='client/img/loader.gif') }}" data-src="{{ stream.image.result_image | embedly_fill(100, 100, 'FFF', 'true') }}" alt="{{ stream.image.result_name }}" class="tips" data-placement="bottom" title="{{ stream.image.result_name }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Today</div>
                    <div class="panel-body">
                        {% for today in images['today'] %}
                            <div class="col-xs-6 col-sm-3 col-md-2">
                                <a class="thumbnail" rel="group" href="{{ url_for('today.detail', result_date=today.image.result_date, result_id=today.image.result_id, name=today.image.result_name) }}">
                                    <img src="{{ url_for('static', filename='client/img/loader.gif') }}" data-src="{{ today.image.result_image | embedly_fill(100, 100, 'FFF', 'true') }}" alt="{{ today.image.result_name }}" class="tips" data-placement="bottom" title="{{ today.image.result_name }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Random Stream</div>
                <div class="panel-body">
                    <div class="row">
                        {{ random_images('stream', random_streams) }}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">Random Today</div>
                <div class="panel-body">
                    <div class="row">
                        {{ random_images('stream', random_todays) }}
                    </div>
                </div>
            </div>
            {% include 'share/google-adsense/slidebar.html' %}
        </div>
    </div>
</div>
{% endblock %}
