{% if config['GOOGLE_ADSENSE']['footer']['enable'] %}
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="{{ config['GOOGLE_ADSENSE']['client'] }}" data-ad-slot="{{ config['GOOGLE_ADSENSE']['footer']['slot'] }}"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
{% endif %}
