{% from "share/macro.html" import navigation %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{% block title %}{% block subtitle %}{% endblock %}{% if self.subtitle() %} - {% endif %}Collector{% endblock %}</title>
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='client/img/favicon.ico') }}">
<link href="{{ url_for('static', filename='vendor/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/bootstrap-social/bootstrap-social.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/social/widget.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='client/css/default.css') }}" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index.index') }}">Collector</a>
            </div>
            <div class="collapse navbar-collapse">
                {% block navbar %}
                    {{ navigation() }}
                {% endblock %}

                {% if g.user %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ g.user }} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('user.change_profile') }}">Profile</a></li>
                                <li><a href="{{ url_for('user.change_password') }}">Password</a></li>
                                <li><a href="{{ url_for('user.change_connection') }}">Connection</a></li>
                                <li><a href="{{ url_for('user.change_settings') }}">Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('user.signout') }}">Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('user.signin') }}">Sign In</a></li>
                        <li><a href="{{ url_for('user.signup') }}">Sign Up</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div class="container">
            {% if form and form.errors %}
                {% for field_name, field_errors in form.errors | dictsort if field_errors %}
                        {% if loop.index <= 1 %}
                                {% for error in field_errors %}
                                        {% if loop.index <= 1 %}
                                                <div class="alert alert-danger">
                                                        <strong>Error!</strong> {{ error }}
                                                </div>
                                        {% endif %}
                                {% endfor %}
                        {% endif %}
                {% endfor %}
            {% endif %}

            {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                <div class="alert alert-danger">
                                        <strong>{{ category | capitalize }}!</strong> {{ message }}
                                </div>
                            {% else %}
                                <div class="alert alert-{{ category }}">
                                        <strong>{{ category | capitalize }}!</strong> {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                {% endif %}
            {% endwith %}

            {% block container %}
            {% endblock %}
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <p>
                <span class="pull-left">&copy; Collector 2014</span>
                <span class="pull-right">Source: curator.im</span>
            </p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/fancybox/jquery.fancybox.pack.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/unveil/jquery.unveil.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/handlebars/handlebars.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/social/widget.js') }}"></script>
    <script src="{{ url_for('static', filename='client/js/default.js') }}"></script>

    {% include "share/google-analytics.html" %}
</body>
</html>
