{% extends 'layout/frontend.html' %}
{% from 'share/macro.html' import social_like, random_images %}

{% block navbar %}
    {{ navigation('home') }}
{% endblock %}

{% block container %}
<div id="index">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Stream</div>
                <div class="panel-body">
                    {% for image in latest_streams %}
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <a class="thumbnail" rel="group" href="{{ url_for('stream.detail', result_id=image.result_id, name=image.result_name) }}">
                                <img src="{{ url_for('static', filename='client/img/loader.gif') }}" data-src="{{ image.result_image | embedly_fill('stream', 100, 100, 'FFF', 'true') }}" alt="{{ image.result_name }}" class="tips" data-placement="bottom" title="{{ image.result_name }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Today</div>
                <div class="panel-body">
                    {% for image in latest_todays %}
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <a class="thumbnail" rel="group" href="{{ url_for('today.detail', result_date=image.result_date, result_id=image.result_id, name=image.result_name) }}">
                                <img src="{{ url_for('static', filename='client/img/loader.gif') }}" data-src="{{ image.result_image | embedly_fill('today', 100, 120, 'FFF', 'true') }}" alt="{{ image.result_name }}" class="tips" data-placement="bottom" title="{{ image.result_name }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    Total Images: {{ total_images }}
                </div>
            </div>
            {{ social_like() }}
            <div class="panel panel-default">
                <div class="panel-heading text-center">Random Stream</div>
                <div class="panel-body">
                    <div class="row">
                        {{ random_images('stream', random_streams) }}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">Random Today</div>
                <div class="panel-body">
                    <div class="row">
                        {{ random_images('today', random_todays) }}
                    </div>
                </div>
            </div>
            {% include 'share/google-adsense/slidebar.html' %}
        </div>
    </div>
</div>
{% endblock %}
