{% extends 'layout/frontend.html' %}
{% from 'share/macro.html' import social_like %}

{% block navbar %}
    {{ navigation('home') }}
{% endblock %}

{% block container %}
<div id="index">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Stream</div>
                <div class="panel-body">
                    {% for i in range(12) %}
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <a class="thumbnail no-border" rel="group">
                                <img src="http://placehold.it/100x100">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Today</div>
                <div class="panel-body">
                    {% for i in range(12) %}
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <a class="thumbnail no-border" rel="group">
                                <img src="http://placehold.it/100x100">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    Total Images: 6749
                </div>
            </div>
            {{ social_like() }}
            <div class="panel panel-default">
                <div class="panel-heading text-center">Random Stream</div>
                <div class="panel-body">
                    <div class="row">
                        {% for i in range(6) %}
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <a class="thumbnail no-border" rel="group">
                                    <img src="http://placehold.it/90x90">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">Random Today</div>
                <div class="panel-body">
                    <div class="row">
                        {% for i in range(6) %}
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <a class="thumbnail no-border" rel="group">
                                    <img src="http://placehold.it/90x90">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
