{% extends 'layout/frontend.html' %}
{% from 'share/macro.html' import social_like %}

{% block subtitle %}
    Today
{% endblock %}

{% block navbar %}
    {{ navigation('today') }}
{% endblock %}

{% block container %}
<div id="index">
    <div class="panel panel-default">
        <div class="panel-body text-center panel-body-slim">
            <p class="lead panel-lead pull-left">Days: {{ total_days }}</p>
            <div class="pull-right">
                {{ social_like(panel=False) }}
            </div>
        </div>
    </div>

    <div class="row">
        {% for today in paginator.items %}
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">{{ today.result_date }}</div>
                    <div class="panel-body">
                        <a href="{{ url_for('today.detail', result_date=today.result_date, result_id=today.result_id, name=today.result_name) }}" class="thumbnail thumbnail-today">
                            <img src="{{ url_for('static', filename='client/img/loader.gif') }}" data-src="{{ today.result_image | embedly_fill(200, 200, 'FFF', 'true') }}" alt="{{ today.result_name }}" class="tips" data-placement="bottom" title="{{ today.result_name }}">
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="pager">
                {% if paginator.has_prev %}
                    <li class="previous"><a href="{{ url_for('today.index', page=paginator.prev_num) }}">Previous</a></li>
                {% endif %}

                {% if paginator.has_next %}
                    <li class="next"><a href="{{ url_for('today.index', page=paginator.next_num) }}">Next</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% include 'share/google-adsense/footer.html' %}
</div>
{% endblock %}
