{% extends 'layout/frontend.html' %}

{% block container %}
<div id="index">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">2014-03-02</div>
                <div class="panel-body">
                    <a href="#" class="thumbnail thumbnail-today">
                        <img src="http://placehold.it/200x200">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">2014-03-02</div>
                <div class="panel-body">
                    <a href="#" class="thumbnail thumbnail-today">
                        <img src="http://placehold.it/200x200">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">2014-03-02</div>
                <div class="panel-body">
                    <a href="#" class="thumbnail thumbnail-today">
                        <img src="http://placehold.it/200x200">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">2014-03-02</div>
                <div class="panel-body">
                    <a href="#" class="thumbnail thumbnail-today">
                        <img src="http://placehold.it/200x200">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">2014-03-02</div>
                <div class="panel-body">
                    <a href="#" class="thumbnail thumbnail-today">
                        <img src="http://placehold.it/200x200">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">2014-03-02</div>
                <div class="panel-body">
                    <a href="#" class="thumbnail thumbnail-today">
                        <img src="http://placehold.it/200x200">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">2014-03-02</div>
                <div class="panel-body">
                    <a href="#" class="thumbnail thumbnail-today">
                        <img src="http://placehold.it/200x200">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="pager">
                <li class="previous"><a href="#">Previous</a></li>
                <li class="next"><a href="#">Next</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
