{% extends 'layout/frontend.html' %}
{% from 'share/macro.html' import facebook_comment %}

{% block subtitle %}
    {{ stream.result_name }}
{% endblock %}

{% block navbar %}
    {{ navigation('stream') }}
{% endblock %}

{% block container %}
<div id="index">
    <h3>{{ stream.result_name }}</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="{{ url_for('static', filename='client/img/loader.gif') }}" data-src="{{ stream.result_image | embedly_fill(500, 500, 'FFF', 'true') }}">
            </div>
            {% include "share/addthis.html" %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if bookmarked %}
                        <a href="{{ url_for('bookmark.remove_stream', result_id=stream.result_id) }}" class="btn btn-danger">
                            <div class="hidden-xs">
                                <i class="glyphicon glyphicon-paperclip"></i> Bookmarked
                            </div>
                            <div class="visible-xs">
                                <i class="glyphicon glyphicon-paperclip"></i>
                            </div>
                        </a>
                    {% else %}
                        <a href="{{ url_for('bookmark.create_stream', result_id=stream.result_id) }}" class="btn btn-info">
                            <div class="hidden-xs">
                                <i class="glyphicon glyphicon-paperclip"></i> Bookmark
                            </div>
                            <div class="visible-xs">
                                <i class="glyphicon glyphicon-paperclip"></i>
                            </div>
                        </a>
                    {% endif %}
                    <a href="{{ stream.result_image }}" class="btn btn-info" download="{{ stream.result_name }}">
                        <div class="hidden-xs">
                            <i class="glyphicon glyphicon-download-alt"></i> Download
                        </div>
                        <div class="visible-xs">
                            <i class="glyphicon glyphicon-download-alt"></i>
                        </div>
                    </a>
                    <a href="{{ url_for('stream.dropbox', result_id=stream.result_id) }}" class="btn btn-info">
                        <div class="hidden-xs">
                            <i class="glyphicon glyphicon-hdd"></i> Dropbox
                        </div>
                        <div class="visible-xs">
                            <i class="glyphicon glyphicon-hdd"></i>
                        </div>
                    </a>
                    <a href="{{ stream.result_image }}" class="btn btn-info pull-right fancybox tips" data-placement="bottom" title="Preview images">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                {% for stream in random %}
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a class="thumbnail" rel="group" href="{{ url_for('stream.detail', result_id=stream.result_id, name=stream.result_name) }}">
                            <img src="{{ url_for('static', filename='client/img/loader.gif') }}" data-src="{{ stream.result_image | embedly_fill(100, 146, 'FFF', 'true') }}" alt="{{ stream.result_name }}" class="tips" data-placement="bottom" title="{{ stream.result_name }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if old_new: %}
        <div class="row">
            <div class="col-xs-12">
                <ul class="pager">
                    {% for row in old_new: %}
                        {% if row.id < stream.id %}
                            <li class="previous"><a href="{{ url_for('stream.detail', result_id=row.result_id, name=row.result_name) }}">Latest</a></li>
                        {% endif %}
                        {% if row.id > stream.id %}
                            <li class="next"><a href="{{ url_for('stream.detail', result_id=row.result_id, name=row.result_name) }}">Older</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    {{ facebook_comment(request.url) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
