{% macro navigation(current='home') %}
    <ul class="nav navbar-nav">
        <li{% if current == 'home' %} class="active"{% endif %}><a href="{{ url_for('index.index') }}">Home</a></li>
        <li{% if current == 'stream' %} class="active"{% endif %}><a href="{{ url_for('stream.index') }}">Stream</a></li>
        <li{% if current == 'today' %} class="active"{% endif %}><a href="{{ url_for('today.index') }}">Today</a></li>
        <li{% if current == 'bookmark' %} class="active"{% endif %}><a href="{{ url_for('bookmark.index') }}">Bookmark</a></li>
    </ul>
{% endmacro %}

{% macro bookmark_categories(current='stream') %}
    <div class="btn-group btn-group-justified">
        <a href="{{ url_for('bookmark.index', category='stream') }}" class="btn btn-default{% if current == 'stream' %} active{% endif %}">Stream</a>
        <a href="{{ url_for('bookmark.index', category='today') }}" class="btn btn-default{% if current == 'today' %} active{% endif %}">Today</a>
    </div>
{% endmacro %}

{% macro social_like(message="Let's go to collect your girl ...", panel=True) %}
    {% if panel: %}
        <div class="panel panel-default">
            <div class="panel-body text-center">
                {{ message | social_button | safe }}
            </div>
        </div>
    {% else %}
        {{ message | social_button | safe }}
    {% endif %}
{% endmacro %}

{% macro facebook_comment(href, width="980", num_posts=5) %}
    {% if config['FACEBOOK_COMMENT']['enable'] %}
        <div id="fb-root"></div>

        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=163300713855872";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-comments" data-href="{{ href }}" data-num-posts="{{ num_posts }}" data-width="{{ width }}" data-colorscheme="{{ config['FACEBOOK_COMMENT']['colorscheme'] }}" data-order-by="{{ config['FACEBOOK_COMMENT']['order_by'] }}"></div>
    {% endif %}
{% endmacro %}

{% macro insite_comment(category, result_id, paginator, form, page_name) %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ paginator.total }} comments
        </div>
        <div class="panel-body">
            {% if paginator.items %}
                {% for comment in paginator.items %}
                    {% if loop.index > 1 %}
                        <hr>
                    {% endif %}
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-rounded" src="{{ comment.user.avatar(48) }}">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                {{ comment.user }}
                                <small>
                                    <time datetime="{{ comment.create_at | clock_xml_format }}" pubdate>
                                        {{ comment.create_at | clock_humanize }}
                                    </time>
                                </small>
                            </h4>
                            <p class="comment-content">
                                {{ comment.content }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-info">No comments yet.</div>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-default">
        {% if form %}
            <form class="form panel-body" action="{{ url_for('comment.create', category=category, result_id=result_id, page_name=page_name) }}" method="post">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.content.label(class_='sr-only') }}
                    {{ form.content(class_='form-control') }}
                </div>
                <div class="form-submit text-right">
                    <button class="btn btn-success">Leave a Comment</button>
                </div>
            </form>
        {% else %}
            <div class="panel-body">
                <div class="alert alert-info">Login is required</div>
                <a href="{{ url_for('user.signin') }}" class="btn btn-success">Sign In</a>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro image_detail_link(category, image) %}
    {% if category == 'stream' %}
        <a href="{{ url_for('stream.detail', result_id=image.result_id, name=image.result_name) }}">
            {{ image.result_name }}
        </a>
    {% else %}
        <a href="{{ url_for('today.detail', result_id=image.result_id, name=image.result_name, result_date=image.result_date) }}">
            {{ image.result_name }}
        </a>
    {% endif %}
{% endmacro %}

{% macro random_images(category, images, no_border=False) %}
    {% if category == 'stream' %}
        {% for image in images %}
            <div class="col-xs-6 col-sm-6 col-md-6">
                <a class="thumbnail{% if no_border %} no-border{% endif %}" rel="group" href="{{ url_for('stream.detail', result_id=image.result_id, name=image.result_name) }}">
                    <img src="{{ url_for('static', filename='client/img/loader.gif') }}" data-src="{{ image.result_image | embedly_fill(100, 100, 'FFF', 'true') }}" alt="{{ image.result_name }}" class="tips" data-placement="bottom" title="{{ image.result_name }}">
                </a>
            </div>
        {% endfor %}
    {% else %}
        {% for image in images %}
            <div class="col-xs-6 col-sm-6 col-md-6">
                <a class="thumbnail{% if no_border %} no-border{% endif %}" rel="group" href="{{ url_for('today.detail', result_date=image.result_date, result_id=image.result_id, name=image.result_name) }}">
                    <img src="{{ url_for('static', filename='client/img/loader.gif') }}" data-src="{{ image.result_image | embedly_fill(100, 100, 'FFF', 'true') }}" alt="{{ image.result_name }}" class="tips" data-placement="bottom" title="{{ image.result_name }}">
                </a>
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}
